dist/
build/
.eggs/
helloworld.egg-info/
.idea/
lawFiles/
helloworld/__pycache__/
project_outline.txt
get_project_text_file.sh
secret_key.txt
chat/__pycache__/
tests/__pycache__/
helloworld/tools/agents/__pycache__/
