{% extends 'base.html' %}

{% block description %}
        This page contains a set of demos for the practical application of Generative AI in a government work environment. <br><br>
        The goal of this exercise is to leverage the strengths of Generative AI to achieve positive real world results,
        while minimalizing the investment into a complex and costly tech stack, where possible.
{% endblock %}

{% block content %}
<!-- Page-specific content goes here -->
<div class="page-content">
    <h1>Welcome to Page Title!</h1>
    <p>This is a sample content of a page.</p>
    <!-- More content -->
</div>
{% endblock %}