{% extends 'base.html' %}

{% block tool_name %}
    Home
{% endblock %}

{% block description %}

{% endblock %}

{% block content %}
    <!-- Page-specific content goes here -->
    <div class="page-content">
        <h1>Hello! Thanks for visiting</h1>
        <p>I am not a web developer. This page was developed in a few hours over a weekend, with the assistance of a
            custom ChatGPT agent I designed to assist in the building of medium scale projects.<br><br>
            The purpose of this page is to demonstrate the potential power of ultra low cost, low effort, generative AI
            solutions to common small government needs.</p>
        <p>For many state and local agencies, valuable tech solutions to common problems are not a priority, simply due
            to the lack of an available developer pool to create and/or maintain complex tools and infrastructure.</p>
        <p>The navigation page on the left shows a few interactive tools that use nothing but the OpenAI chat completion
            API to assist with real world problems.</p>

        <p>For questions or requests for other GPT based demos, please feel free to reach out to
            brandon@ai.captivates.me </p>
    </div>
{% endblock %}